.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.title-text {
    margin-top: 36px;
}

@media screen and (max-width: 992px) {
    .title-text {
	font-size: 80px;
    }
    .table-striped {
	font-size: 36px;
    }
    .content {
	font-size: 28px;
    }
    .container {
	max-width: 980px;
    }
}
