{% extends "base.html" %}

{% block content %}
  <p>The following stations have found the fox:</p>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Callsign</th>
        <th>Name</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for operator in operators %}
        <tr>
          <td>{{ operator.callsign }}</td>
          <td>{{ operator.name }}</td>
          <td>{{ operator.date.strftime("%m/%d/%Y, %H:%M") }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
